.block-slider {
  background: #f9f9f9;
  max-width: 1600px;
  min-width: 1200px;
}
.block-slider-head {
  position: relative;
  width: 100%;
  height: 750px;
  z-index: 10;
}
.block-slider-head > img {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
  width: 100%;
  height: 750px;
}
.block-slider-head-text {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
  background: rgba(4, 5, 7, 0.75);
  width: 100%;
  height: 100%;
}
.block-slider-head-text > div {
  margin-top: 146px;
  margin-left: 100px;
}
.block-slider-head-text > div > h2 {
  /* margin-left: 100px; */
  width: 758px;
  font-family: Cormorant Garamond;
  font-size: 86px;
  font-style: normal;
  font-weight: 600;
  line-height: 69px;
  letter-spacing: 0em;
  text-align: left;
  color: #e4c592;
}
.block-slider-head-text > div > ul {
  line-height: 4px;
  margin-top: 28px;
  margin-left: 38px;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #f9f9f9;
}
#consultation {
  margin-top: 40px;
  /* margin-left: 100px; */
  outline: 1.7px solid #e4c592;
  box-sizing: border-box;
  border-radius: 5px;
  width: 282px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 28px;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #e4c592;
  border: none;
  background: none;
}
#consultation:hover {
  background: #d0b07c;
  color: #f9f9f9;
}
/* next block */
.block-slider-items {
  background: #f9f9f9;
  height: auto;
  padding-bottom: 120px;
}
.block-slider-items > h2 {
  position: absolute;
  top: 716px;
  left: 3%;
  right: 3%;
  padding: 80px 140px;
  padding-bottom: 60px;
  width: auto;
  border-radius: 16px;
  font-family: Cormorant Garamond;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #d0b07c;
  background: #f9f9f9;
  z-index: 100;
}
.items {
  margin-top: 157px;
  display: flex;
  flex-wrap: wrap;
}
.items {
  background: #f9f9f9;
  padding: 0px 100px;
}
.items-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.items-bottom {
  margin-top: 45px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.item > img {
  width: 50px;
  margin: 0 auto;
}

.item > p {
  margin-top: 22px;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #1d1d1f;
}
.item > span {
  margin-top: 8px;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #676768;
  max-width: 350px;
}
/* next block */
.sliders-invest {
  background: #1d1d1f;
  height: auto;
  padding: 80px 100px 120px 100px;
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  color: #d0b07c;
}
.sliders-invest > h2 {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 60px;
}
.sliders-invest > span {
  font-size: 30px;
  line-height: 36px;
}
.methods {
  margin-top: 60px;
  width: 100%;
  display: flex;
}
.methods-image {
  border: 3px solid #e4c592;
  border-radius: 8px;
  box-sizing: border-box;
  width: 400px;
  height: 438px;
  overflow: hidden;
  margin-right: 50px;
}
.methods-list {
  height: auto;
  width: 100%;
  max-width: 700px;
}
.accordion {
  display: flex;
  background: none;
  color: #f9f9f9;
  position: relative;
  padding-left: 25px;
}
.accordion:nth-child(n + 2) {
  margin-top: 45px;
}
.accordion > span {
  font-family: Open Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: #d0b07c;
  margin-right: 23px;
  position: absolute;
  top: -5px;
  left: 0px;
}
details {
  width: 669px;
}
summary {
  display: block;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}
.accordion-title {
  width: auto;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
}
.accordion-title::after {
  display: block;
  content: "ↆ";
  position: absolute;
  top: -5px;
  right: -25px;
  transform: translateY(22%);
}

.accordion-body {
  width: 620px;
  padding-top: 12px;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
/* next block */

.slider-projectPack {
  background: #f9f9f9;
  padding: 80px 100px 120px 100px;
  transition: 1s;
}
.slider-projectPack > h2 {
  font-family: Cormorant Garamond;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #d0b07c;
}
.slider-projectPack > p {
  margin-top: 60px;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #1d1d1f;
}
.project-items {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  transition: 1s;
}
.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 268px;
  transition: 1s;
}
.project-item-defult > img {
  width: 56px;
  height: 56px;
}
/* .project-item > div {
  height: 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  text-align: left;
} */
.project-item-defult {
  height: 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  text-align: left;
}
.project-item-defult > span {
  margin-top: 20px;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #1d1d1f;
}
.project-item-defult > p {
  margin-top: 8px;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #676768;
  height: 60px;
}
.project-item > button {
  cursor: pointer;
  margin-top: 60px;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #d0b07c;
  width: 201px;
  height: 44px;
  border: 1.7px solid #d0b07c;
  box-sizing: border-box;
  border-radius: 5px;
  background: none;
  outline: none;
  animation: closewin 0.3s linear;
}
@keyframes closewin {
  from {
    transform: translateY(30%);
  }
  to {
    transform: translateY(0%);
  }
}
.project-item-open {
  overflow: hidden;
  margin-top: 40px;
  text-align: left;
  width: 269px;
  display: none;
  flex-direction: column;
  align-items: center;
  animation: openwin 0.3s linear;
}
@keyframes openwin {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(0%);
  }
}
.project-item-open > span {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #1d1d1f;
  height: 20px;
  width: 100%;
  max-width: 250px;
}
.project-item-open > button {
  cursor: pointer;
  margin-top: 40px !important;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  border: 1.7px solid #d0b07c;
  box-sizing: border-box;
  border-radius: 5px;
  background: none;
  outline: none;
  width: 124px;
  height: 44px;
  color: #d0b07c;
  margin: 0 auto;
}
.project-item-open > ul {
  height: 104px;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #676768;
  margin-left: 8px;
  margin-top: 8px;
}
.project-item-open > ul > li {
  list-style-type: none;
  margin-bottom: 8px;
}
.project-item-open > ul > li > p {
  cursor: pointer;
}
.project-item-open > ul > li > p > span {
  color: #d0b07c;
  margin-right: 16px;
}
/* next block */
.slider-support {
  padding: 80px 100px 120px 100px;
  background: #1d1d1f;
}
.slider-support > h3 {
  font-family: Cormorant Garamond;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #e4c592;
}
.support-list {
  display: flex;
  margin-top: 60px;
}
.support-list-img {
  border: 3px solid #e4c592;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
}
.support-list-img > img {
  width: 100%;
  height: 100%;
}
.support-conclusion {
  margin-top: 40px;
  height: 60px;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #f9f9f9;
}
.support-list-text {
  margin-left: 30px;
}
.string-list {
  display: flex;
  color: #f9f9f9;
}
.string-list:not(:last-child) {
  margin-bottom: 30px;
}
.string-list > span {
  font-family: Open Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: #e4c592;
}
.string-list > div {
  margin-left: 23px;
}
.string-list > div > h4 {
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.string-list > div > p {
  width: 770px;
  height: auto;
  margin-top: 8px;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
/* next block */
.slider-outsource {
  padding: 80px 100px 120px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-outsource > h3 {
  font-family: Cormorant Garamond;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #d0b07c;
}
.slider-outsource > p {
  margin-top: 60px;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #1d1d1f;
}
.outsourse-items {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.outsourse-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.outsourse-item > p {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #1d1d1f;
  margin-top: 20px;
  text-align: center;
  height: 60px;
  width: 267px;
}
#getСonsultation {
  cursor: pointer;
  margin-top: 40px;
  border: 1.7px solid #d0b07c;
  box-sizing: border-box;
  border-radius: 5px;
  width: 282px;
  height: 44px;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #d0b07c;
  background: none;
}

/* block slider */
/* .slider-block{
  margin-top: 60px;
  padding: 60px 73px 97px 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
border: 3px solid #D0B07C;
box-sizing: border-box;
border-radius: 8px;
}
.slider-block>button{
  width: 32px;
  height: 32px;
}

.slider-container{
  width: 860px;
  display: flex;
  overflow: hidden;
} */
.slider {
  margin-top: 60px;
  padding: 60px 73px 97px 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border: 3px solid #d0b07c;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
#preSlide{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2.7px solid #d0b07c;
  box-sizing: border-box;
  transform: matrix(1, 0, 0, -1, 0, 0);
  color: #d0b07c;
  background: none;
}
#preSlide:hover {
  background: #D0B07C;
  color: white;
border: 2.7px solid #D0B07C;
box-sizing: border-box;
}
#nextSlide{
   width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2.7px solid #d0b07c;
  box-sizing: border-box;
  transform: matrix(1, 0, 0, -1, 0, 0);
  color: #d0b07c;
  background: none;
}
#nextSlide:hover {
  background: #D0B07C;
  color: white;
border: 2.7px solid #D0B07C;
box-sizing: border-box;
}
.slider > span {
  position: absolute;
  bottom: 27px;
  left: 50%;
  transform: translateX(-50%);
}
.slider > span > button {
  margin-right: 8px;
  border: none;
  outline: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #d0b07c;
}
.slider-line {
  border: 1px solid red;
  background-size: 100% 100%;
  margin: 0px auto;
  width: 80%;
  height: 544px;
  display: flex;
  transition: all ease 1s;
  /* overflow: hidden; */
}
